<%- include("partials/header"); -%>
<header>
  <!-- Navbar -->
  <nav id="my-navbar" class="navbar fixed-top navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#about">ABOUT</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#projects">WORK</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#team">TEAM</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#get-involved">GET INVOLVED</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-nowrap" href="#contact">CONTACT</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<section id="introduction">
  <div class="container-fluid">
    <!-- Introduction section -->
    <div class="introduction">
      <h1>DATA IN PRACTICE</h1>
      <p><em>The power of big data & AI in <span>transforming the society</span></em></p>
      <a href="#about"><button class="btn btn-outline-light" type="button">View more here</button></a>
    </div>

  </div>
</section>

<!-- About section -->
<section id="about">
  <div class="container-fluid">
    <div class="heading">
      <h1>WHAT WE DO</h1>
      <hr>
    </div>

    <div class="why-data">
      <div class="row">
        <div class="col-xl-6 col-lg-6">
          <img src="images/kids-img.jpg" alt="kids-img">
        </div>
        <div class="col-xl-6 col-lg-6">
          <h2>Why data?</h2>
          <p>The digital age has brought about vast amount of data that can be mined, analyzed, understood and utilized to transform our
            society. The power of big data analytics can be used to formulate government policies, fight climate change, hunger and diseases and
            to improve student performance in schools as well as boost profits of businesses. However, most organizations in Africa have yet
            to tap the benefits that emanate from this data revolution.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container role">
    <h2>Harnessing the power of data analytics</h2>
    <div class="row">
      <div class="each-role col-xl-4 col-lg-4 col-md-4">
        <i class="fas fa-compass fa-5x"></i>
        <p>We utilize big data analytics to guide the government in policy implementation</p>
      </div>
      <div class="each-role col-xl-4 col-lg-4 col-md-4">
        <i class="far fa-chart-bar fa-5x"></i>
        <p>We conduct research to create new data analytical methods and discover new knowledge</p>
      </div>
      <div class="each-role col-xl-4 col-lg-4 col-md-4">
        <i class="fas fa-cloud-upload-alt fa-5x"></i>
        <p>We promote cloud-based big data storage and analytics</p>
      </div>
    </div>

    <div class="row">
      <div class="each-role col-xl-6 col-lg-6 col-md-6">
        <i class="fas fa-hands-helping fa-5x"></i>
        <p>We educate teachers, students and professionals to help them incorporate data analytics into their current skillset</p>
      </div>
      <div class="each-role col-xl-6 col-lg-6 col-md-6">
        <i class="fas fa-people-carry fa-5x"></i>
        <p>We collaborate with organizations to provide solutions for their pressing business needs</p>
      </div>
    </div>
  </div>
</section>

<!-- Projects section -->
<section id="projects">
  <div class="container-fluid">
    <div class="heading">
      <h1>OUR WORK</h1>
      <hr>
    </div>

    <div class="row">
      <% projects.forEach((project) => { %>
      <div class="col-xl-4 col-lg-4 each-project">
        <a href=<%=project.projectLink %> target="_blank">
          <img src=<%=project.imageLink%> alt="project-img">
          <h5><%=project.projectName%></h5>
        </a>
      </div>
      <% }); %>
    </div>
  </div>
</section>

<!-- Team section -->
<section id="team">
  <div class="container-fluid">
    <div class="heading">
      <h1>MEET THE TEAM</h1>
      <hr>
    </div>

    <div class="bios">
      <p>We're headquartered in Nairobi, Kenya. A team of multidisciplinary, global talent composed
        of statisticians, computer scientists, coders, bioinformaticians and community workers.
      </p>

      <br>

      <div class="row">
        <% members.forEach((member) => { %>
        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
          <div class="card">
            <img data-toggle="modal" data-target="#myModal-<%=member.id %>" src=<%=member.image%> alt="team-member-img">
            <div class="card-body">
              <h6 class="card-title"><%=member.name%></h6>
              <p class="card-text"><%=member.role%></p>
            </div>
          </div>
        </div>

        <div class="modal" id="myModal-<%=member.id %>" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalLongTitle"><%=member.name %></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="member-about">
                  <h6>About</h6>
                  <p><%=member.about %></p>
                </div>
                <div class="member-background">
                  <h6>Background</h6>
                  <p><%=member.background %></p>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <% }); %>
      </div>




    </div>

  </div>

</section>

<!-- Get involved section -->
<section id="get-involved">
  <div class="container-fluid">
    <div class="heading">
      <h1>GET INVOLVED</h1>
      <hr>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <img src="images/careers-img.jpg" alt="careers-img">
      </div>
      <div class="careers col-xl-6 col-lg-6">
        <h2>Careers</h2>
        <p>Think you have what it takes to join our team?</p>
        <p>We are looking for high-performing data scientists, software engineers, computer scientists,
          statisticians, bioinformaticians, community workers and educators to join us to fulfil our mission.
        </p>
        <a href="/careers-form"><button class="btn btn-outline-light" type="button" name="button">Apply for a career</button></a>
      </div>
    </div>

    <div class="row">
      <div class="col-xl-6 col-lg-6">
        <img src="images/donate-img.jpg" alt="donate-img">
      </div>
      <div class="col-xl-6 col-lg-6">
        <h2>Support us</h2>
        <div class="support-us">
          <h5>Volunteering opportunities</h5>
          <p>Data engineers, computer scientists, research scientists, fundraisers, cloud engineers, software engineers are welcomed.</p>
          <a href="/volunteer-opportunities"><button class="btn btn-outline-light" type="button" name="button">Sign up</button></a>
        </div>
        <div class="support-us">
          <h5>Donate</h5>
          <p>We appreciate any financial support given to us as we strive to do our best in fulfilling our mission.</p>
          <button class="btn btn-outline-light " type="button" name="button">Donate now</button>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Contact section -->
<section id="contact">
  <div class="container-fluid">
    <div class="heading">
      <h1>CONTACT US</h1>
      <hr>
    </div>

    <div>
      <p>Have a question for us? Leave a message below!</p>
      <form class="query-form" action="https://formspree.io/mdowjpno" method="POST">
        <div>
          <input class="form" type="text" name="Name" placeholder="Name">
        </div>
        <div>
          <input class="form" type="email" name="Email" placeholder="Email">
        </div>
        <div>
          <textarea class="form" rows="8" cols="80" name="Nessage" placeholder="Your message"></textarea>
        </div>
        <button class="btn btn-outline-light" type="submit">Submit</button>
      </form>
    </div>

  </div>
</section>

<%- include("partials/footer"); -%>
